
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */

@layer base {
  :root {
    --background: 242 100% 98%;         /* Светло-голубой фон */
    --foreground: 252 80% 18%;          /* Наиболее тёмный фиолетово-синий */

    --card: 244 96% 96%;                /* Голубоватый белый */
    --card-foreground: 252 90% 8%;

    --popover: 244 96% 98%;
    --popover-foreground: 252 90% 12%;

    --primary: 256 95% 68%;             /* Ярко-фиолетовый */
    --primary-foreground: 240 100% 99%;

    --secondary: 207 89% 69%;           /* Ярко-голубой */
    --secondary-foreground: 242 85% 15%;

    --muted: 230 90% 92%;               /* Серо-голубой для muted */
    --muted-foreground: 245 30% 40%;

    --accent: 250 85% 80%;              /* Светлый голубой */
    --accent-foreground: 252 90% 12%;

    --destructive: 335 100% 77%;        /* Светлый розово-фиолетовый */
    --destructive-foreground: 252 80% 12%;

    --border: 238 60% 90%;              /* Светлый голубой */
    --input: 246 50% 85%;               /* Голубой для инпутов */
    --ring: 256 95% 68%;                /* Фиолетовый highlight */

    --radius: 0.5rem;

    /* sidebar for shadcn */
    --sidebar-background: 244 96% 96%;
    --sidebar-foreground: 250 60% 25%;
    --sidebar-primary: 252 80% 40%;
    --sidebar-primary-foreground: 240 100% 99%;
    --sidebar-accent: 246 100% 92%;
    --sidebar-accent-foreground: 252 90% 20%;
    --sidebar-border: 238 60% 90%;
    --sidebar-ring: 256 95% 68%;
  }

  .dark {
    --background: 252 60% 13%;
    --foreground: 240 100% 98%;

    --card: 249 67% 23%;
    --card-foreground: 240 100% 98%;

    --popover: 249 67% 18%;
    --popover-foreground: 240 100% 98%;

    --primary: 252 98% 63%;
    --primary-foreground: 240 100% 99%;

    --secondary: 207 89% 62%;
    --secondary-foreground: 240 100% 98%;

    --muted: 245 16% 22%;
    --muted-foreground: 245 30% 78%;

    --accent: 240 100% 25%;
    --accent-foreground: 240 100% 98%;

    --destructive: 335 85% 47%;
    --destructive-foreground: 240 100% 98%;

    --border: 248 22% 22%;
    --input: 248 22% 22%;
    --ring: 252 98% 63%;

    --sidebar-background: 252 60% 13%;
    --sidebar-foreground: 252 60% 85%;
    --sidebar-primary: 252 90% 50%;
    --sidebar-primary-foreground: 240 100% 99%;
    --sidebar-accent: 246 45% 30%;
    --sidebar-accent-foreground: 240 100% 98%;
    --sidebar-border: 246 45% 32%;
    --sidebar-ring: 252 98% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
